.container{
    height: 735px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    overflow: hidden;

}


.try{
    width: 40%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    background: black;
    border-radius: 8px;
}

*{
    margin: 0;
    padding: 0;
}

.display{
    width: 100%;
    height: 50px;
    border-radius: 8px;
    display: flex;
    align-items: flex-start;
}

.buttons{
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    border-radius: 8px;
}

.numbers{
    width: 60%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    overflow: hidden;
    border-radius: 8px;
}

.operators{
    width: 40%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    overflow: hidden;
    border-radius: 8px;
}

.num{
    width: 30.5%;
    cursor: pointer;
    overflow: hidden;
    margin-top: 5px;
    margin-left: 2px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(black,red);
    color: white;
    border-radius: 8px;
}

.num1{
    width: 40%;
    overflow: hidden;
    margin-top: 5px;
    margin-left: 2px;
    margin-bottom: 5px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(black,red);
    color: white;
    border-radius: 8px;
}

.opr{
    width: 40%;
    margin-top: 5px;
    margin-left: 2px;
    margin-bottom: 4px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(black,red);
    color: white;
    border-radius: 8px;
}

.opr1{
    width: 90%;
    margin-top: 4px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(black,red);
    color: white;
    border-radius: 8px;
}

.num:hover{
    background: linear-gradient(red,black)
}

.num1:hover{
    background: linear-gradient(red,black)
}

.opr:hover{
    background: linear-gradient(red,black)
}

.opr1:hover{
    background: linear-gradient(red,black)
}

.display{
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
    margin-right: 20px;
}

@media only screen and (max-width: 600px) {
    .try {
        width: 80%;
        height: 80%;
    }
  }
